@charset "utf-8";
/*
author: yuanzhen
date: 12-12-24
*/
html, body, header, section, nav, ul, ol, li, div, p, form, h1, h2, h3, h4, h5, h6, span, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    -webkit-text-size-adjust: none;   /*为了兼容chrome浏览器字体最小为12px的hack*/
}

body {
    font-family: Arial, sans-serif, microsoft Yahei;
    font-size: 12px;
    color: #434343;
    background-color: #fff;
}

ul, ol, li {
    list-style: none;
}

img {
    border: 0;
}

a, a:active {
    cursor: pointer;
    text-decoration: none;
    color:#434343;
}
